<div layout="row">
    <div flex="20"></div>
    <div flex>
        <md-content layout="column" flex class="md-padding">
            <md-card>
                <div layout="row">
                    <div flex="20">
                        <md-icon md-svg-icon="{{avatar}}" class="avatar"></md-icon>
                    </div>
                    <div flex>
                        <h2>{{username}}</h2>
                        <span>{{email}}</span>
                    </div>
                </div>
            </md-card>
            <md-button class="md-raised md-primary" ng-click="beginTest()">
                BEGIN TEST
            </md-button>
        </md-content>
    </div>
    <div flex="20"></div>
</div>
